h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    line-height: 46px;
    font-size: 5em;
    margin: 0 0 23px 0;
    }

p {
    font-family: 'Josephin sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

body {
   /* background: url(https://images.unsplash.com/photo-1497994139250-caecb78f9df9?auto=format&fit=crop&w=800&q=80);  
    background-size: cover;
    background-position: center;*/
    background-color: rgb(244, 248, 252); 
    font-family: lato;
    color: white;
}

body.html {
    height: 100%;
}


#maincontent {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);                         
}

#contactcontent {
    text-align: center;
    padding-top: 10%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);                         
}

#content {
    text-align: center;
    padding-top: 10%;
    color: #292f38;                       
}


hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

h3{
    color: #42b6f4;
}

div#bgcolor{
background-color: rgb(244, 248, 252);                       
}

.red{
    color:red;
    }

.form-area
{
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    }

div#form-position{
    padding-top: 10%;
     position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;
}

#imgborder{
    border: 5px solid black;
}

@media (max-width: 767px) {

    div#form-position{
    padding-top: 30%;
    }

    #maincontent {
    padding-top: 35%;                     
    }

    #contactcontent {
    padding-top: 20%;
                     
    }

    #content {
    padding-top: 30%;                    
    }

}